@model IEnumerable<DeAnWebThongMinh.Models.Product>
<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image: url(images/bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

				<div class="col-md-8 col-sm-12 text-center ftco-animate">
					<span class="subheading">Chào mừng</span>
					<h1 class="mb-4">Trải nghiệm thử cà phê chất lượng tốt nhất</h1>
					<p class="mb-4 mb-md-5">Cà phê giúp chúng ta sống lâu hơn, khoẻ mạnh hơn, giúp tinh thần tươi mới, sảng khoái và đầy năng lượng tích cực.</p>
					<p><a asp-controller="Menu" asp-action="Index" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Xem Menu</a></p>
				</div>

			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url(images/bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

				<div class="col-md-8 col-sm-12 text-center ftco-animate">
					<span class="subheading">Chào mừng</span>
					<h1 class="mb-4">Hương vị tuyệt vời và không gian ấm áp</h1>
					<p class="mb-4 mb-md-5">Cà phê giúp chúng ta sống lâu hơn, khoẻ mạnh hơn, giúp tinh thần tươi mới, sảng khoái và đầy năng lượng tích cực.</p>
					<p><a asp-controller="Menu" asp-action="Index" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Xem Menu</a></p>
				</div>

			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url(images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

				<div class="col-md-8 col-sm-12 text-center ftco-animate">
					<span class="subheading">Chào mừng</span>
					<h1 class="mb-4">Kem nóng và sẵn sàng phục vụ</h1>
					<p class="mb-4 mb-md-5">Cà phê giúp chúng ta sống lâu hơn, khoẻ mạnh hơn, giúp tinh thần tươi mới, sảng khoái và đầy năng lượng tích cực.</p>
					<p><a asp-controller="Menu" asp-action="Index" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Xem Menu</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-intro">
	<div class="container-wrap">
		<div class="wrap d-md-flex align-items-xl-end justify-content-center">
			<div class="info w-100">
				<div class="row no-gutters justify-content-between">
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-phone"></span></div>
						<div class="text">
							<h3>Số điện thoại của chúng tôi</h3>
							<p>Liên hệ ngay nếu có thức uống bạn thích.</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-my_location"></span></div>
						<div class="text">
							<h3>Khoa CNTT K19</h3>
							<p>Số 01 Tôn Thất Tùng, P. 8, Tp. Đà Lạt, tỉnh Lâm Đồng, Việt Nam</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-clock-o"></span></div>
						<div class="text">
							<h3>Mở vào Thứ Hai - Thứ Sáu</h3>
							<p>8:00AM - 9:00PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="ftco-section ftco-services">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-choices"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Thao tác đặt hàng dễ dàng</h3>
						<p>Giao tại địa bàn đà lạt.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-delivery-truck"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Giao hàng nhanh</h3>
						<p>Giao hàng nhanh chóng và chúng tôi sẽ không để bạn phải chờ quá lâu.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-coffee-bean"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Cà phê chất lượng</h3>
						<p>Đem đến cho bạn ly cà phê chất lượng tốt nhất mà chúng tôi có và ngày càng tốt hơn nữa.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section">
	<div class="container">


		<!-- Thêm phần hiển thị bong bóng -->
		@if (ViewBag.LastViewedProduct != null)
		{
			<div class="col-md-3">
				<div class="menu-entry bg-light p-4 rounded shadow">
					<h3 class="mb-4 text-warning">
						Bạn vừa tìm sản phẩm này ư?
					</h3>

					<a href="@Url.Action("Detail", "Menu", new { id = @ViewBag.LastViewedProduct.ProductId})" class="img d-block mb-4" style="background-image: url(@ViewBag.LastViewedProduct.ImageUrl);"></a>
					<div class="text-center">
						<h3 class="h5"><a href="@Url.Action("Detail", "Menu", new { id = @ViewBag.LastViewedProduct.ProductId })">@ViewBag.LastViewedProduct.ProductName</a></h3>
						<p>@ViewBag.LastViewedProduct.Description</p>
						<p class="price"><span>$@ViewBag.LastViewedProduct.ProductPrice</span></p>
						<form asp-controller="Menu" asp-action="AddToCart" method="post">
							<input type="hidden" name="id" value="@ViewBag.LastViewedProduct.ProductId" />
							<input type="hidden" name="quantity" value="1" />
							<button type="submit" class="btn btn-primary btn-outline-primary">Add to Cart</button>
						</form>
					</div>
				</div>
			</div>
		}


		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<span class="subheading">Khám phá</span>
				<h2 class="mb-4">Các món được bạn quan tâm </h2>
				<p>Các sản phẩm gợi ý cho bạn. (Phần làm việc với dữ liệu và các vòng lặp)</p>
			</div>
		</div>
		<h1 class="text-center">Drinks</h1>

		<div class="row">
			@foreach (var item in Model)
			{
				@if (item.ProductType == "Drinks")
				{

					<div class="col-md-3">
						<div class="menu-entry">
							<a href="@Url.Action("Detail", "Menu", new { id = item.ProductId })" class="img" style="background-image: url(@item.ImageUrl);"></a>
							<div class="text text-center pt-4">
								<h3><a href="@Url.Action("Detail", "Menu", new { id = item.ProductId })">@item.ProductName</a></h3>
								<p>@item.Description</p>
								<p class="price"><span>$@item.ProductPrice</span></p>
								<p>
									<form asp-controller="Menu" asp-action="AddToCart" method="post">
										<input type="hidden" name="id" value="@item.ProductId" />
										<input type="hidden" name="quantity" value="1" />
										<button type="submit" class="btn btn-primary btn-outline-primary">Add to Cart</button>
									</form>
								</p>
							</div>
						</div>
					</div>
				}
			}
		</div>
		<h1 class="text-center">Cakes</h1>

		<div class="row">
			@foreach (var item in Model)
			{
				@if(item.ProductType == "Cakes")
				{
	
					<div class="col-md-3">
						<div class="menu-entry">
							<a href="@Url.Action("Detail", "Menu", new { id = item.ProductId })" class="img" style="background-image: url(@item.ImageUrl);"></a>
							<div class="text text-center pt-4">
								<h3><a href="@Url.Action("Detail", "Menu", new { id = item.ProductId })">@item.ProductName</a></h3>
								<p>@item.Description</p>
								<p class="price"><span>$@item.ProductPrice</span></p>
								<p>
									<form asp-controller="Menu" asp-action="AddToCart" method="post">
										<input type="hidden" name="id" value="@item.ProductId" />
										<input type="hidden" name="quantity" value="1" />
										<button type="submit" class="btn btn-primary btn-outline-primary">Add to Cart</button>
									</form>
								</p>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</section>